#reproducts #main {
  height:750px;
  background: transparent url('/ui/v4/img/remarketing_products/main.jpg') no-repeat top left;
  background-size:cover;
}
#reproducts #main h2 {
  margin-top:200px;
}
#reproducts #main p.md {
  font-size:18px;
  line-height:26px;
  font-weight:200;
  color:#fff;
  margin-top: 30px;
  padding-right: 60px;
}

@media (max-width: 979px){
    #reproducts #main h2 {
        font-size: 32px;
        line-height: 42px;
        margin-top: 170px;
    }
}

@media (max-width: 767px) {
  #reproducts #main {
    background: transparent url('/ui/v4/img/remarketing_products/main_mob.jpg') no-repeat top left;
  }
  #reproducts #main h2 {
    margin-top:140px;
  }
}
@media (max-width: 320px){
    #reproducts #main h2 {
        font-size: 28px;
        line-height: 36px;
    }
}

#reproducts #intro {
  padding:60px 0;
}
#reproducts #intro h2 {
  font-family:Roboto;
  font-size:32px;
  color:#777777;
  font-weight:700;
  line-height:42px;
  padding:0 0 50px 0;
  text-align:center;
  margin-top:0;
}
@media (max-width: 767px){
    #reproducts #intro {
      padding:30px 0;
    }
    #reproducts #intro h2 {
      padding:0 0 20px 0;
    }
}
@media (max-width: 320px){
  #reproducts #intro h2 {
    font-size: 28px;
    line-height: 36px;
  }
}

#reproducts #realtime {
  height:750px;
  background: transparent url('/ui/v4/img/remarketing_products/realtime.jpg') no-repeat top left;
  background-size:cover;
}

#reproducts #realtime p {
  color:#fff;
  padding:15px 0;
}
@media (max-width: 979px){
    #reproducts #realtime h2 {
        font-size: 32px;
        line-height: 42px;
    }
}
@media (max-width: 767px) {
  #reproducts #realtime h2{
      margin-top:80px;
  }
  #reproducts #realtime img{
      margin-top:50px;
  }
}

@media (max-width: 320px) {
  #reproducts #realtime {
    height:550px;
  }
  #reproducts #realtime h2 {
    font-size: 28px;
    line-height: 36px;
  }
}

#reproducts #CreativeOptimization{
    padding:60px 0;
}

#reproducts #CreativeOptimization h2 {
  color: #000;
  margin-top: 100px;
}

#reproducts #CreativeOptimization p {
    margin-top: 40px;
}
@media (max-width: 979px){
    #reproducts #CreativeOptimization h2 {
        font-size: 32px;
        line-height: 42px;
    }
}
@media (max-width: 767px){
    #reproducts #CreativeOptimization{
        padding:30px 0;
    }
    #reproducts #CreativeOptimization h2 {
      margin-top: 30px;
    }
}
@media (max-width: 320px){
    #reproducts #CreativeOptimization h2 {
        font-size: 28px;
        line-height: 36px;
    }
}

#reproducts #AudienceBuilder {
  height:650px;
  background: transparent url('/ui/uploads/blog/tile5.jpg') no-repeat top left;
  background-size:cover;
}

#reproducts #AudienceBuilder p {
  color: #fff;
  margin-top: 30px;
}
@media (max-width: 979px){
    #reproducts #AudienceBuilder h2 {
        font-size: 32px;
        line-height: 42px;
    }
}
@media (max-width: 767px){
    #reproducts #AudienceBuilder {
        height:450px;
    }
    #reproducts #AudienceBuilder h2 {
      margin-top: 60px;
    }
}
@media (max-width: 320px){
    #reproducts #AudienceBuilder h2 {
        font-size: 28px;
        line-height: 36px;
    }
}

#reproducts #rapid {
  padding:60px 0;
}
#reproducts #rapid h2 {
  color:#000;
  margin:0px;
}
#reproducts #rapid img{
    margin-top:50px;
}
@media (max-width: 979px){
    #reproducts #rapid h2 {
        font-size: 32px;
        line-height: 42px;
    }
}
@media (max-width: 320px) {
  #reproducts #rapid h2 {
    font-size: 28px;
    line-height: 36px;
  }
}
