#remarketing #main {
  height:750px;
  background: transparent url('/ui/v4/img/remarketing/main.jpg') no-repeat top left;
  background-size:cover;
}
#remarketing #main h2 {
  margin-top:220px;
}
#remarketing #main p {
  color:#fff;
  padding:30px 0;
}
#remarketing #main .bubbles {
  margin-top:300px;
}
#remarketing #main #scrollDown{

}
#remarketing #main #scrollDown p{
  padding:0;
}
@media (max-width: 979px){
    #remarketing #main h2 {
        font-size: 32px;
        line-height: 42px;
        margin-top: 170px;
    }
}
@media (max-width: 767px){
  #remarketing #main {
      background-position:61% top;
  }
  #remarketing #main h2 {
    margin-top:120px;
  }
  #remarketing #main .bubbles {
    margin-top:50px;
  }
}
@media (max-width: 320px){
  #remarketing #main h2 {
    font-size: 28px;
    line-height: 36px;
  }
}

/* Purpose */

#remarketing #purpose {
  text-align:center;
  padding:60px 0;
}
#remarketing #purpose h2 {
  font-family:Roboto;
  font-size:32px;
  color:#777777;
  font-weight:700;
  line-height:42px;
  padding:0 0 100px 0;
  text-align:center;
  margin-top:0;
}
#remarketing .t2icons p{
    padding-top:65px;
    text-align:center;
    font-size:14px;
    color:#000000;
}
#remarketing .t2icons.icon1{
    background:url('/ui/uploads/blog/tile2_icon1.png') center top no-repeat;
}
#remarketing .t2icons.icon2{
    background:url('/ui/uploads/blog/tile2_icon2.png') center 15px no-repeat;
}
#remarketing .t2icons.icon3{
    background:url('/ui/uploads/blog/tile2_icon3.png') center top no-repeat;
}
#remarketing .t2icons.icon4{
    background:url('/ui/uploads/blog/tile2_icon4.png') center top no-repeat;
}
#remarketing .t2icons.icon5{
    background:url('/ui/uploads/blog/tile2_icon5.png') center top no-repeat;
}

@media (max-width: 767px){
    #remarketing #purpose h2 {
      padding:0 0 50px 0;
    }
    #remarketing .t2icons{
        padding-bottom:30px;
    }
}
@media (max-width: 320px){
  #remarketing #purpose h2 {
    font-size: 28px;
    line-height: 36px;
  }
}

/* Purchase */

#remarketing #purchase {
  min-height:750px;
  background: transparent url('/ui/v4/img/remarketing/purchase.jpg') no-repeat top left;
  background-size:cover;
}
#remarketing #purchase h2 {
  color:#fff;
}
#remarketing #purchase p {
  color:#fff;
  padding:30px 0 15px 0;
}
#remarketing #purchase .phone {
  float:left;
}
#remarketing #purchase .phone:first-child {
  margin-right:15px;
}
@media (max-width: 979px){
  #remarketing #purchase .phone:first-child {
    margin-right:10px;
  }
  #remarketing #purchase h2 {
      margin-top:121px;
      font-size: 32px;
      line-height: 42px;
  }
}
@media (max-width: 767px){
  #remarketing #purchase {
    padding-bottom:30px;
  }
  #remarketing #purchase h2 {
    margin-top:80px;
  }
  #remarketing #purchase .phone {
    margin-top:30px;
  }
  #remarketing #purchase .phone {
  float:none;
  margin-left:auto;
  margin-right:auto;
}
}
@media (max-width: 320px){
  #remarketing #purchase h2 {
    font-size: 28px;
    line-height: 36px;
  }
}

/* Engage */

#remarketing #engage {
  min-height:750px;
  background: transparent url('/ui/v4/img/remarketing/engage-bg.jpg') no-repeat top left;
  background-size:cover;
}
#remarketing #engage h2 {
  color:#000;
  margin-right:30px;
}
#remarketing #engage p {
  padding:30px 0;
}
#remarketing #engage .phone {
  float:left;
}
#remarketing #engage .phone:first-child {
  margin-right:15px;
}
@media (max-width: 979px){
  #remarketing #engage .phone:first-child {
    margin-right:10px;
  }
  #remarketing #engage h2 {
      font-size: 32px;
      line-height: 42px;
  }
}
@media (max-width: 767px){
  #remarketing #engage h2 {
    margin-top:30px;
  }
  #remarketing #engage .phone {
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    float:none;
  }
}
@media (max-width: 320px){
  #remarketing #engage h2 {
    font-size: 28px;
    line-height: 36px;
  }
}



/* Dynamic */

#remarketing #dynamic {
  min-height:750px;
  background: transparent url('/ui/v4/img/remarketing/dynamic.jpg') no-repeat top left;
  background-size:cover;
}
#remarketing #dynamic h2 {
  color:#fff;
}
#remarketing #dynamic p {
  color:#fff;
  padding:30px 0 15px 0;
}
#remarketing #dynamic .phone {
  float:left;
}
#remarketing #dynamic .phone:first-child {
  margin-right:15px;
}
@media (max-width: 979px){
  #remarketing #dynamic .phone:first-child {
    margin-right:10px;
  }
  #remarketing #dynamic h2 {
      margin-top:121px;
      font-size: 32px;
      line-height: 42px;
  }
}
@media (max-width: 767px){
  #remarketing #dynamic {
    padding-bottom:30px;
    background-position:right top;
  }
  #remarketing #dynamic h2 {
    margin-top:80px;
  }
  #remarketing #dynamic .phone {
    margin-top:30px;
  }
  #remarketing #dynamic .phone {
  float:none;
  margin-left:auto;
  margin-right:auto;
}
}
@media (max-width: 320px){
  #remarketing #dynamic h2 {
    font-size: 28px;
    line-height: 36px;
  }
}

/* Deliver */

#remarketing #deliver {
  min-height:inherit;
  background: #0689cb;
  padding-bottom:100px;
}
#remarketing #deliver h2 {
  color:#fff;
  margin-top: 65px;
}
#remarketing #deliver p {
  padding:30px 0 0;
  color:#fff;
}
#remarketing #deliver .linetop{
    width:300px;
    background:#ffffff;
    height:1px;
    margin-top: 100px;
}
#remarketing #deliver .linebottom{
    float:right;
    width:300px;
    background:#ffffff;
    height:1px;
}
#remarketing #deliver .rotatedtext{
    height:260px;
}
#remarketing #deliver .rotatedtext p{
    font-family:Roboto;
    font-size:32px;
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    padding-top:50px;
    line-height:42px;
}
#remarketing #deliver .rotatedtext p span{
    font-family: Roboto;
    font-size: 65px;
    font-style: italic;
    line-height: 85px;
}
#remarketing #deliver .noshow{
    display:none;
}
@media (max-width: 979px){
  #remarketing #deliver h2 {
      font-size: 32px;
      line-height: 42px;
  }
  #remarketing #deliver .rotatedtext p span {
    font-size: 50px;
    line-height: 75px;
  }
  #remarketing #deliver .rotatedtext p {
    font-size: 26px;
    line-height: 36px;
  }
}
@media (max-width: 767px){
  #remarketing #deliver {
    padding-bottom:30px;
  }
  #remarketing #deliver h2 {
    margin-top:30px;
  }
  #remarketing #deliver .linetop {
    margin-top: 50px;
  }
}
@media (max-width: 320px){
  #remarketing #deliver .linetop, #remarketing #deliver .linebottom {
      width: 220px;
  }
  #remarketing #deliver .rotatedtext p {
    font-size: 20px;
    line-height: 30px;
  }
  #remarketing #deliver .rotatedtext p span {
    font-size: 42px;
    line-height: 65px;
  }
  #remarketing #deliver h2 {
    font-size: 28px;
    line-height: 36px;
  }
}

.btn-white,
.btn-white:focus,
.btn-white:active{
  background:none;
  color:#fff;
  font-family: "Roboto";
  text-transform: uppercase;
  text-shadow: none;
  border-radius:22px;
  border:2px solid #fff;
  min-width:160px;
  text-align:center;
  padding:10px 15px;
  font-size:16px;
}
.btn-white:hover {
  background: #fff;
  color: #0689cb;
  border-color: #fff;
}

.remformlightbox{
    background:url(/ui/v4/img/home/remarket_popupbg.jpg) left top no-repeat;
    width:700px;
    height:308px;
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-154px;
    margin-left:-350px;
    z-index: 10002;
    display:none;
}
.remformlightbox h2{
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 34px;
    line-height: 52px;
    margin: 70px 0 20px 0;
    text-align: center;
}
.remformlightbox p.rembtn{
    display:block;
    background: #ff4b49; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ff4b49, #e02871); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ff4b49, #e02871); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ff4b49, #e02871); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ff4b49, #e02871); /* Standard syntax */
    width: 235px;
    text-align:center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    cursor: pointer;
    margin: 0 auto;
    text-transform: uppercase;
}
.remformlightbox p.notetext{
    font-size: 11px;
    line-height: 12px;
    color: #ffffff;
    padding: 0 20px;
    position: absolute;
    bottom: 0px;
}
.rblackbg{
    width: 100%;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.75);
    z-index: 10001;
    background-size:cover;
    display:none;
}





.remarketlightbox{
    background:url(/ui/v4/img/home/remarket_popupbg.jpg) left top no-repeat;
    width:700px;
    height:308px;
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-154px;
    margin-left:-350px;
    z-index: 10002;
    display:none;
}
.remarketlightbox h2{
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    margin: 30px 0 0 20px;
    float: left;
    width: 60%;
}
.remarketlightbox p{
    font-family: "Roboto Slab";
    line-height: 23px;
    font-size: 16px;
    clear: both;
    float: left;
    margin: 20px 0 10px 20px;
    width: 53%;
    color: #ffffff;
}
.remarketlightbox .remarketbtn{
    font-family: "Roboto Slab";
    clear: both;
    float: left;
    margin: 25px 0 0 20px;
    width: 45%;
}
.remarketlightbox .remarketbtn a{
    display:block;
    background: #ff4b49; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ff4b49, #e02871); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ff4b49, #e02871); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ff4b49, #e02871); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ff4b49, #e02871); /* Standard syntax */
    width:145px;
    text-align:center;
    line-height: 30px;
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.crossbtn{
    width:25px;
    height:25px;
    position:absolute;
    right:10px;
    top:10px;
    cursor:pointer;
}
.blackbg{
    width: 100%;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.75);
    z-index: 10001;
    background-size:cover;
    display:none;
}

@media (max-width: 767px) {
    .remarketlightbox{
    background:url(/ui/v4/img/home/remarketpopup_bg_mob.jpg) left top no-repeat;
    width:320px;
    height:50px;
    position:fixed;
    top:auto;
    left:0px;
    bottom:10px;
    border-right: 1px solid #3f3e40;
    border-top: 1px solid #3f3e40;
    border-bottom: 1px solid #3f3e40;
    margin-left:0;
    margin-top:0;
  }
  .remarketlightbox h2 {
    float: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin: 6px 0 0 15px;
    width: 55%;
  }
  .remarketlightbox .remarketbtn {
    clear:none;
    float: right;
    font-family: "Roboto Slab";
    margin: 15px 10px 0 0;
    width: 21%;
  }
  .remarketlightbox .remarketbtn a {
    font-size: 11px;
    font-weight: 500;
    line-height: 19px;
    width: 63px;
  }
  .crossbtn{
    width:11px;
    height:11px;
    right:2px;
    top:2px;
}
}
